@import url('../CSS/Calendar.css');

html{
	background: white;
}

body{
	max-width: 75%;
	margin-left: 12%;
	margin-right: 12%;
	background: #fefac0;
}

header{
	width: inherit;
}

header h1{
	text-align: center;
	background: #8f8bb1;;
}

span a{
	float: left;
}

span a img{
	vertical-align: middle;
}

div{
	margin-top: 15px;
}

span{
	margin-left: inherit;
}

table{
	border: 1px solid black;
}

#user{
	float: left;
}

#form{
	margin-right: 45px;
}

#from div{
	margin: 5px;
}