@import url("../CSS/Modal.css");

html{
	background: white;
}

body{
	background: #fefac0;
	width: 75%;
	margin-left: 12%;
	margin-right: 12%;
}

header{
	width: 100%;
	height: 196px;
	background-image: url("../img/agenda.png");
	background-size: 100% 100%;
}

#user_info{
	float: right;
	background-color: blue;
}

#user_info img{
	width: 25px;
	height: auto;
	vertical-align: middle;
}

#user_info span{
	margin-left: 5px;
	margin-right: 5px;
	width: 25px;
	height: inherit;
	color: white;
}

h1{
	background: #8f8bb1;
	margin: 15px;
	text-align: left;
}

#Titulo{
	vertical-align: middle;
	padding-left: 15px;
}

#Buscador{
	float: right;
	padding-right: 10px;
}

input{
	vertical-align: middle;
}

ul{
	margin-top: 50px;
	padding: 0px;
}

#contact{
	margin-top: 15px;
	margin-right: 80px;
	margin-left: 80px;
	background: white;
}

#avatar{
	display: inline-block;
	vertical-align: middle;
}

#info{
	vertical-align: middle;
	display: inline-block;
	margin-left: 15px;
}

#icons{
	float: right;
}

#drop{
	background-color: Transparent;
  background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
}

#addButton{
	margin-top: 15px;
	margin-right: 80px;
	margin-left: 80px;
}

