html{
	background: white;
}

body{
	max-width: 75%;
	margin-left: 12%;
	margin-right: 12%;
	background: #fefac0;
}

header{
	width: inherit;
}

header h1{
	text-align: center;
	background: #8f8bb1;;
}

span a{
	float: left;
}

span a img{
	vertical-align: middle;
}

div{
	margin-right: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#user{
	float: left;
	margin-left: 15px;
}

/*#form{*/
/*	margin-right: 25px;*/
/*}*/

/*#form div{*/
/*	margin: 5px;*/
/*}*/